.centerBox {
  display: flex;
  width: 75%;
}



.imageBox {
  padding: 3rem;
  margin-top: 5rem;
}

@media only screen and (max-width: 1000px) {
  .imageBox {
    margin-top: 0rem;
    text-align: center;
    
  }
  .centerBox {
    display: block;
    width: 100%;
  }
}


.image {
  width: 16rem;
  object-fit: cover;
  clip-path: circle(8rem at center);
  /* can we change to SVG later? */
  height: 16rem;
}